SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_ENCRYPTION=tls
SENDER_SMTP_USER=tu-email@gmail.com
SENDER_SMTP_PASS=tu-contraseña-app

IMPORT_FROM_NAME=GIST POINT S.A.S.
IMPORT_TO_ADDRESS=consultas@gistpoint.com
